.about {
  margin-bottom: 50px;
}

.about__link {
  display: none;
}

.about__pictures-container {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin: 75px auto 45px;
}

.about__img {
  width: 41vw;
  height: auto;
}

.about__heading {
  @include heading;
  width: 91%;
  margin: 3px auto 43px;
  line-height: 42px;
}

.about__heading--newline {
  display: none;
}

.about__text {
  @include small-and-dim;
  position: relative;
  width: 91%;
  margin: 15px auto 0;
  line-height: 24px;
}

.about__text--emphasis {
  font-size: 18px;
  line-height: 28px;
  color: $white;
}

.about__text:last-child::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -90px;
  width: 148px;
  height: 61px;
  background-image: url('../img/about-sign.png');
  background-size: 100%;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .about__text:last-child::after {
    background-image: url('../img/about-sign@2x.png');
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin: 116px auto 50px;
  }

  .about__pictures-container {
    position: relative;
    width: 82%;
    height: 55vw;
    margin: 100px 0 12px 40px;
  }

  .about__img {
    width: 35vw;
  }

  .about__heading {
    width: 120px;
    margin: 0 0 40px 5vw;
    font-family: $secondary-font;
    color: $white;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .about__heading--newline {
    display: block;
  }

  .about__text {
    position: relative;
    width: 500px;
    margin: 15px 0 0 5vw;
  }

  .about__text--emphasis {
    width: 550px;
    margin-bottom: 18px;
  }
}

@media (min-width: $pre-desktop-width) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 974px;
    margin: 128px auto 0;
  }

  .about__pictures-container {
    display: block;
    position: relative;
    width: 450px;
    height: 380px;
    margin: 5px 60px 60px 21px;
    flex-grow: 0;
  }

  .about__pictures-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 38%;
    width: 35px;
    height: 1px;
    background-color: $red;
    z-index: -1;
  }

  .about__img--left {
    float: left;
  }

  .about__img--right {
    float: right;
  }

  .about__img {
    width: 210px;
    z-index: 10;
    transition: 250ms;
  }

  .about__text-container {
    width: 370px;
    flex-grow: 0;
    margin-right: 21px;
  }

  .about__heading {
    margin: 0 0 43px 0;
  }

  .about__heading::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -32px;
    height: 35px;
    width: 1px;
    background-color: $red;
  }

  .about__text {
    margin-left: 0;
    width: 100%;
  }

  .about__link {
    display: block;
    position: absolute;
    right: -112px;
    top: 285px;
    transform: rotate(-90deg);
    font-family: $secondary-font;
    font-size: 21px;
    color: #787878;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: 500ms;
  }

  .about__link:hover,
  .about__link:focus {
    color: $red;
    outline: none;
  }

  .about__link:active {
    color: $white;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1180px;
  }

  .about__text-container {
    width: 470px;
    margin: 20px auto 60px 70px;
  }

  .about__heading {
    width: auto;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.25;
  }

  .about__heading::before {
    left: -31px;
  }

  .about__text--emphasis {
    width: 100%;
  }

  .about__text {
    width: 99.4%;
  }

  .about__pictures-container {
    width: 570px;
    height: 420px;
    margin: 20px 60px 45px 5px;
    flex-grow: 0;
  }

  .about__img {
    width: 270px;
  }

  .about__pictures-container::before {
    top: 3px;
    right: 230px;
  }

  .about__link {
    top: 325px;
  }
}
