.form {
  margin-top: 90px;
  margin-bottom: 55px;
}

.form__heading {
  @include heading;
  margin-left: 15px;
  margin-bottom: 10px;
}

.form__text {
  @include small-and-dim;
  width: 90%;
  margin: 12px 0 20px 15px;
}

.form__input {
  display: block;
  position: relative;
  width: 78%;
  padding: 12px 19px 12px 20px;
  margin: 20px auto;
  text-indent: 30px;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $dim;
  background-color: transparent;
  background-repeat: no-repeat;
  border: rgba(255, 255, 255, 0.3) 1px solid;
}

.form__input--name {
  background-position: 21px 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10.9714C8.54948 10.9349 9.83919 10.4 10.8691 9.36686C11.8991 8.33371 12.4323 7.04 12.4688 5.48571C12.4688 4.736 12.332 4.032 12.0586 3.37371C11.7852 2.71543 11.3841 2.12571 10.8555 1.60457C10.3268 1.08343 9.73438 0.685715 9.07812 0.411429C8.42188 0.137143 7.72461 2.57045e-07 6.98633 2.57045e-07C6.24805 2.57045e-07 5.55078 0.137143 4.89453 0.411429C4.23828 0.685715 3.65039 1.08343 3.13086 1.60457C2.61133 2.12571 2.21484 2.71543 1.94141 3.37371C1.66797 4.032 1.53125 4.73143 1.53125 5.472C1.53125 6.21257 1.66797 6.912 1.94141 7.57029C2.21484 8.22857 2.61133 8.82286 3.13086 9.35314C3.65039 9.88343 4.23828 10.2857 4.89453 10.56C5.55078 10.8343 6.2526 10.9714 7 10.9714ZM7 0.795429C8.3125 0.832 9.41081 1.29371 10.2949 2.18057C11.179 3.06743 11.6393 4.16914 11.6758 5.48571C11.6393 6.80229 11.179 7.904 10.2949 8.79086C9.41081 9.67771 8.3125 10.1394 7 10.176C5.6875 10.1394 4.58919 9.67771 3.70508 8.79086C2.82096 7.904 2.36068 6.80229 2.32422 5.48571C2.36068 4.16914 2.82096 3.06743 3.70508 2.18057C4.58919 1.29371 5.6875 0.832 7 0.795429ZM14 23.5611L13.7266 14.8663C13.6719 13.5131 13.1797 12.1874 12.25 10.8891C12.1953 10.7977 12.1087 10.7474 11.9902 10.7383C11.8717 10.7291 11.7669 10.7611 11.6758 10.8343C11.0013 11.4377 10.2676 11.8994 9.47461 12.2194C8.68164 12.5394 7.85221 12.6994 6.98633 12.6994C6.12044 12.6994 5.29102 12.5394 4.49805 12.2194C3.70508 11.8994 2.98047 11.4377 2.32422 10.8343C2.23307 10.7611 2.13281 10.7291 2.02344 10.7383C1.91406 10.7474 1.82292 10.7977 1.75 10.8891C0.802083 12.1691 0.309896 13.4949 0.273438 14.8663L0 23.5886C0 23.6983 0.0410156 23.7943 0.123047 23.8766C0.205078 23.9589 0.300781 24 0.410156 24H13.5898C13.6992 24 13.7949 23.9634 13.877 23.8903C13.959 23.8171 14 23.7166 14 23.5886V23.5611ZM7.27344 13.5771L8.06641 19.8583H5.93359L6.72656 13.5771H7.27344ZM0.820312 23.2046L1.06641 14.8937C1.10286 13.7966 1.45833 12.736 2.13281 11.712C2.73438 12.224 3.40885 12.6263 4.15625 12.9189C4.73958 13.1566 5.33203 13.3211 5.93359 13.4126L5.08594 20.2149C5.06771 20.3246 5.09505 20.4251 5.16797 20.5166C5.24089 20.608 5.34115 20.6537 5.46875 20.6537H8.50391C8.61328 20.6537 8.70898 20.6126 8.79102 20.5303C8.87305 20.448 8.91406 20.352 8.91406 20.2423L8.03906 13.4126C8.67708 13.3211 9.27865 13.1566 9.84375 12.9189C10.5547 12.6263 11.2292 12.224 11.8672 11.712C12.5417 12.736 12.8971 13.7966 12.9336 14.8937L13.1797 23.2046H0.820312Z' fill='%23F13F3F'/%3E%3C/svg%3E ");
}

.form__input--email {
  background-position: 15px 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.9719 19.5745V4.39716L25.9438 4.36879C25.9625 4.33097 25.9625 4.29314 25.9438 4.25532L25.8876 4.17021L25.8314 4.11348C25.7564 4.03783 25.6721 4 25.5785 4H2.39344C2.3185 4 2.23419 4.03783 2.14052 4.11348L2.08431 4.17021L2.0281 4.25532V4.36879L2 4.39716V19.6028C2.01874 19.6028 2.0281 19.6217 2.0281 19.6596V19.7447L2.08431 19.8298C2.10304 19.8676 2.12178 19.8865 2.14052 19.8865C2.23419 19.9622 2.3185 20 2.39344 20H25.5785C25.6909 20 25.7892 19.9622 25.8735 19.8865C25.9578 19.8109 26 19.7163 26 19.6028C26 19.5839 25.9906 19.5745 25.9719 19.5745ZM25.1569 18.695L17.6534 11.9716L25.1569 5.30497V18.695ZM24.5105 4.8227L13.9438 14.156L3.46136 4.8227H24.5105ZM2.81499 5.30497L10.3466 12.0284L2.81499 18.695V5.30497ZM3.46136 19.1773L10.9368 12.5674L13.6909 15.0071C13.7845 15.0827 13.8782 15.1206 13.9719 15.1206C14.0656 15.1206 14.1499 15.0827 14.2248 15.0071L17.0351 12.5106L24.5105 19.1773H3.46136Z' fill='%23F13F3F'/%3E%3C/svg%3E ");
}

.form__input--phone {
  background-position: 15px 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5085 14.845L20.2364 13.5707C19.8895 13.2425 19.4847 13.0784 19.0221 13.0784C18.5595 13.0784 18.1548 13.2425 17.8078 13.5707L17.3452 14.063L10.9558 7.66269L11.4184 7.17036C11.746 6.84213 11.9099 6.44151 11.9099 5.96848C11.9099 5.49546 11.746 5.08518 11.4184 4.73765L10.1463 3.49233C9.79932 3.16411 9.39456 3 8.93197 3C8.46939 3 8.06463 3.16411 7.71769 3.49233L5.66497 5.54855C5.22166 5.99262 5 6.52357 5 7.1414C5 7.75923 5.22166 8.29018 5.66497 8.73424L16.2755 19.3629C16.4875 19.5752 16.7285 19.7345 16.9983 19.8407C17.2681 19.9469 17.5476 20 17.8367 20C18.1259 20 18.4101 19.9469 18.6896 19.8407C18.9691 19.7345 19.2149 19.5752 19.4269 19.3629L21.5085 17.2777C21.8362 16.9495 22 16.544 22 16.0613C22 15.5786 21.8362 15.1732 21.5085 14.845ZM20.9303 16.6985L18.8486 18.7547C18.5595 19.025 18.227 19.1601 17.8512 19.1601C17.4753 19.1601 17.1429 19.025 16.8537 18.7547L6.2432 8.12606C5.97336 7.85576 5.83844 7.52754 5.83844 7.1414C5.83844 6.75525 5.97336 6.42703 6.2432 6.15673L8.32483 4.07155C8.47902 3.89778 8.68141 3.8109 8.93197 3.8109C9.18254 3.8109 9.39456 3.89778 9.56803 4.07155L10.8401 5.34583C11.0136 5.50028 11.1003 5.70301 11.1003 5.954C11.1003 6.205 11.0136 6.41738 10.8401 6.59114L10.0595 7.37308C9.98243 7.45031 9.94388 7.54685 9.94388 7.66269C9.94388 7.77853 9.98243 7.87507 10.0595 7.9523L17.0272 14.9319C17.2392 15.1056 17.4416 15.1056 17.6344 14.9319L18.3861 14.1499C18.5788 13.9955 18.7956 13.9182 19.0366 13.9182C19.2775 13.9182 19.4847 14.0051 19.6582 14.1789L20.9014 15.4242C21.0941 15.598 21.1857 15.8055 21.176 16.0468C21.1664 16.2882 21.0845 16.5054 20.9303 16.6985ZM10.4065 6.56218C10.5221 6.56218 10.6233 6.52357 10.71 6.44634C10.7968 6.36911 10.8401 6.27257 10.8401 6.15673C10.8401 6.04089 10.792 5.94435 10.6956 5.86712L9.07653 4.24531C8.99943 4.14878 8.90788 4.10051 8.80187 4.10051C8.69586 4.10051 8.59949 4.14878 8.51276 4.24531C8.42602 4.34185 8.38265 4.44321 8.38265 4.5494C8.38265 4.65559 8.4212 4.7473 8.4983 4.82453L10.1173 6.44634C10.1944 6.52357 10.2908 6.56218 10.4065 6.56218ZM19.1378 14.2947C18.945 14.1403 18.7426 14.1403 18.5306 14.2947C18.3957 14.4878 18.3957 14.6905 18.5306 14.9029L20.1497 16.5247C20.2268 16.5826 20.3231 16.6116 20.4388 16.6116C20.5544 16.6116 20.6508 16.5826 20.7279 16.5247C20.9014 16.3123 20.9014 16.1096 20.7279 15.9165L19.1378 14.2947Z' fill='%23F13F3F'/%3E%3C/svg%3E ");
}

.form__input--message {
  resize: none;
  height: 110px;
  background-position: 14px 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0187 9.46055L23.5118 7.99713C23.8373 7.6528 24 7.24629 24 6.77762C24 6.30894 23.8373 5.90244 23.5118 5.55811L20.4393 2.48781C20.0948 2.1626 19.6927 2 19.2333 2C18.7739 2 18.3719 2.1626 18.0273 2.48781L5.99569 14.4821L5.90955 14.6829L4.01436 21.4835C3.97607 21.6365 4.01436 21.7704 4.12922 21.8852C4.20579 21.9617 4.30151 22 4.41637 22C4.43551 22 4.4738 21.9904 4.53123 21.9713L11.3367 20.1062C11.3367 20.0679 11.3463 20.0488 11.3654 20.0488L11.509 19.9914L22.0187 9.46055ZM11.2218 19.1019L10.1307 18.0402L19.061 9.14491L20.1235 10.2066L11.2218 19.1019ZM7.20172 20.3931L5.6224 18.7862L6.51256 15.5725L10.4178 19.5036L7.20172 20.3931ZM15.7875 5.87374L16.8787 6.96413L7.94831 15.8594L6.88586 14.769L15.7875 5.87374ZM16.8212 4.84075L21.1572 9.1736L20.6978 9.63271L16.3618 5.29986L16.8212 4.84075ZM8.55133 16.4333L17.453 7.53802L18.458 8.54232L9.55635 17.4663L8.55133 16.4333ZM18.6016 3.06169C18.793 2.90866 19.0036 2.83214 19.2333 2.83214C19.463 2.83214 19.664 2.90866 19.8363 3.06169L22.9375 6.16069C23.1098 6.33286 23.196 6.54328 23.196 6.79197C23.196 7.04065 23.1098 7.24151 22.9375 7.39455L21.7315 8.59971L17.3955 4.26686L18.6016 3.06169ZM5.36396 19.7044L6.31156 20.6227L4.99067 20.9957L5.36396 19.7044ZM23.598 21.1679H14.6963C14.5815 21.1679 14.481 21.2109 14.3948 21.297C14.3087 21.3831 14.2656 21.4835 14.2656 21.5983C14.2656 21.7131 14.3087 21.8087 14.3948 21.8852C14.481 21.9617 14.5815 22 14.6963 22H23.598C23.8469 21.9809 23.9809 21.847 24 21.5983C24 21.4835 23.9617 21.3831 23.8851 21.297C23.8086 21.2109 23.7128 21.1679 23.598 21.1679Z' fill='%23F13F3F'/%3E%3C/svg%3E ");
}

.form__input:hover,
.form__input:focus {
  color: $white;
  outline: none;
  border: $white 1px solid;
}

.form__input:invalid {
  outline: none;
}

.form__input--changed:invalid {
  border: $red 1px solid;
  outline: none;
}

.form__btn {
  margin: 20px 0 0 15px;
}

@media (min-width: $tablet-width) {
  .form {
    margin: 73px auto 70px;
    width: $tablet-container-width;
  }

  .form__heading {
    margin-left: 30px;
  }

  .form__text {
    width: 91%;
    letter-spacing: -0.18px;
    margin: 12px 0 20px 30px;
  }

  .form__input {
    width: 86.5%;
  }

  .form__btn {
    margin-left: 30px;
    padding: 17px 32px;
  }
}

@media (min-width: $pre-desktop-width) {
  .form {
    position: relative;
    margin: 122px auto 90px;
    width: $pre-desktop-container-width;
  }

  .form::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 22px;
    height: 677px;
    width: 450px;
    background-image: url("../img/form-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    animation: fade-in 2s;
  }

  .form::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 22px;
    height: 1px;
    width: 34px;
    background-color: $red;
  }

  .form__container {
    width: 370px;
    margin: 0 22px 0 auto;
  }

  .form__heading {
    margin-left: 0;
  }

  .form__heading::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -31px;
    height: 34px;
    width: 1px;
    background-color: $red;
  }

  .form__text {
    margin-left: 0;
  }

  .form__input {
    width: 329px;
  }

  .form__btn {
    margin-left: 0;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .form::before {
      background-image: url("../img/form-bg@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-top: 170px;
    width: $desktop-container-width;
  }

  .form::before {
    top: -185px;
    left: 5px;
    height: 858px;
    width: 570px;
  }

  .form::after {
    top: -36px;
    left: 5px;
  }

  .form__container {
    width: 470px;
    margin: 0 5px 0 auto;
  }

  .form__heading {
    margin-top: 225px;
    font-size: 48px;
    line-height: 1.25;
  }

  .form__text {
    width: 100%;
    margin-bottom: 28px;
  }

  .form__input {
    width: 91%;
  }
}
