.header {
  width: 992px;
  position: relative;
  padding-bottom: 15px;
  background-color: #202020;
}

.header__logo {
  display: block;
  width: 160px;
  height: auto;
  padding-top: 18px;
  margin-left: 58px;
}

@media (min-width: $pre-desktop-width) {
  .header {
    padding-bottom: 0;
  }

  .header__logo {
    position: fixed;
    width: 181px;
    top: 5px;
    left: -42px;
  }
}


// @media (min-width: $desktop-width) {
// }
