.introduction {
  background-image: url("../img/introduction-bg-person.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat, repeat;
  background-position: 70% bottom, top left;
  background-size: 258px;
  animation: background-slide 8s;
}

.introduction__container {
  padding: 85px 0 60px;
  width: $mobile-width;
  margin: 0 auto;
}

.introduction__wrap--middle {
  margin: 15px auto 40px;
  width: 280px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
}

.introduction__heading {
  position: relative;
  width: 290px;
  margin: 0;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  font-family: $secondary-font;
  color: $red;
}

.introduction__heading--rotated {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: block;
  font-size: 30px;
  color: $white;
  transform: rotate(-90deg);
  line-height: 1;
}

.introduction__under-heading {
  margin: 2px 0 0 5px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  font-family: $secondary-font;
  letter-spacing: 0.6px;
  color: $white;
}

.introduction__desktop-text {
  display: none;
  color: $dim;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: $main-font;
}

.introduction__btn {
  margin: 45px 0 0 70px;
}

.introduction__wrap--bottom {
  font-size: 14px;
  font-weight: 400;
  font-family: "loto", "roboto", sans-serif;
}

.introduction__text-accent {
  margin: 0 0 6px;
  text-align: center;
  color: $red;
}

.introduction__text-white {
  color: $white;
}

.introduction__phone-link {
  text-decoration: none;
  color: $white;
}

.introduction__phone-link:focus,
.introduction__phone-link:hover {
  color: $dim;
  outline: none;
  border-bottom: 2px solid $red;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .introduction {
    background-image: url("../img/introduction-bg-person@2x.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2));;
  }
}

@media (max-width: 767px) {
  @keyframes background-slide {
    from {
      background-position: 80% -15%, top left;
      background-size: 280px, auto;
    }

    to {
      background-position: 70% bottom, top left;
      background-size: 258px, auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .introduction {
    background-position: 74% bottom, top left;
    background-size: 285px, auto;
  }

  .introduction__container {
    width: 750px;
  }

  .introduction__wrap--middle {
    margin: 50px 0 40px 15px;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .introduction__under-heading {
    margin-left: 0;
  }

  .introduction__btn {
    margin: 45px 0 0 0;
    padding: 16px 30px 14px;
  }

  .introduction__wrap--bottom {
    margin-left: -30px;
  }

  @media (max-width: 991px) {
    @keyframes background-slide {
      from {
        background-position: 81% -8%, top left;
        background-size: 305px, auto;
      }

      to {
        background-position: 74% bottom, top left;
        background-size: 285px, auto;
      }
    }
  }
}

@media (min-width: $pre-desktop-width) {
  .introduction {
    background-position: 73% bottom, top left;
    background-size: 355px, auto;
  }

  .introduction__container {
    width: 974px;
    padding: 30px 0 55px;
  }

  .introduction__wrap--middle {
    margin: 65px 0 40px 22px;
    width: 450px;
    position: relative;
    z-index: 1;
  }

  .introduction__desktop-text {
    margin-top: 30px;
    display: block;
  }

  .introduction__btn {
    margin: 20px 0 0 0;
  }

  .introduction__wrap--bottom {
    margin: 65px auto 0 auto;
    width: 600px;
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 1199px) {
    @keyframes background-slide {
      from {
        background-position: 80% -9%, top left;
        background-size: 370px, auto;
      }

      to {
        background-position: 73% bottom, top left;
        background-size: 355px, auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .introduction {
    background-position: 74% bottom, top left;
    background-size: 420px, auto;
  }

  .introduction__container {
    width: 1180px;
    padding: 40px 0 35px;
  }

  .introduction__heading {
    width: auto;
    font-size: 150px;
  }

  .introduction__heading--rotated {
    position: absolute;
    bottom: 55px;
    right: 40px;
    font-size: 60px;
  }

  .introduction__under-heading {
    margin: 0 0 0 15px;
    font-size: 60px;
    line-height: 0.8;
    font-family: $secondary-font;
    letter-spacing: 1.2px;
    color: $white;
  }

  .introduction__desktop-text {
    margin: 40px 0 18px 15px;
    letter-spacing: -0.1px;
  }

  .introduction__btn {
    margin: 20px 14px 0 16px;
  }

  .introduction__wrap--middle {
    margin: 65px 0 40px -10px;
    padding-left: 0;
    width: 590px;
    position: relative;
    z-index: 1;
  }

  .introduction__wrap--bottom {
    margin: 80px auto 0;
  }

  @keyframes background-slide {
    from {
      background-position: 80% -9%, top left;
      background-size: 430px, auto;
    }

    to {
      background-position: 74% bottom, top left;
      background-size: 420px, auto;
    }
  }
}
