@mixin heading {
  position: relative;
  font-family: $secondary-font;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

@mixin small-and-dim {
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: $dim;
}
