$mobile-width: 320px;
$tablet-width: 768px;
$pre-desktop-width: 992px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$dim: #9b9b9b;
$black: #000000;
$red: #f13f3f;
$main-font: "lato", "roboto", sans-serif;
$secondary-font: "montserrat", sans-serif;
